
<tr data-id_homework="<%= newHomework.id_homework %>">
    <td><%= newHomework.title_homework %></td>
    <td>
        <%= new Date(newHomework.dateTime).toLocaleString('sk-SK', { 
            day: '2-digit', // 2-digit naformatuje na 2-ciferne cislo
            month: '2-digit',
            year: 'numeric', // numeric zas da plný format roku napr. 2024
            hour: '2-digit', 
            minute: '2-digit' 
        }) %>
    </td>
    <td>
        <%= new Date(newHomework.deadline).toLocaleString('sk-SK', { 
            day: '2-digit', 
            month: '2-digit', 
            year: 'numeric', 
            hour: '2-digit', 
            minute: '2-digit' 
        }) %>
    </td>
    <td>
        <a href="/ziak/domace-ulohy/<%= newHomework.id_homework %>">
            <i class="fs-4 bi-box-arrow-in-up-right"></i>
        </a>
    </td>

    <% if (newHomework.id_homework && newHomework.id_user) { %> <!--NEFUNGUJE MI TO, OPRAV SI TO-->
        <td style="color: green;">odovzdané</td>
    <% } else { %>
        <td style="color: red;">neodovzdané</td>
    <% } %>

    <% if (newHomework.isAllRight === 1) { %>
        <td><i class="fs-4 bi-check2"></i></td>
    <% } else { %>
        <td><i class="fs-3 bi-x" style="color: red;"></i></td>
    <% } %>
</tr>

