<!DOCTYPE html>
<html lang="en" class="html_body_ziak">
<head>
    <%- include("../../shared/partials/head") %>
    <link rel="stylesheet" href="/css/style-ziak.css">
    <title>Týždenné výzvy</title>
</head>
<body class="html_body_ziak">
    <!--BODY-->
    <div class="container-fluid">
        <div class="row flex-nowrap">
    
            <!-- Sidebar -->
            <%- include("../../shared/partials/sidebar_ziak") %>
    
            <div class="col odsadenie_od_sidebaru">

                <!--Header-->
                <%- include("../../shared/partials/header") %>
    
                <!-- Hlavný obsah -->
                <div style="padding: 20px;">
                    <div class="row justify-content-center d-flex">
                        <div class="col-md-10">
                            <h1 class="nadpis_tyzdenne_vyzvy">Týždenné výzvy</h1>
                        </div>

                        <div class="col-md-10">
                            <div class="dropdown text-end" style="margin-bottom: 40px;">
                                <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: 'News Cycle', sans-serif;">
                                    Filter úloh <i class="bi bi-filter"></i>
                                </a>
                                
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="dropdownMenu">
                                    <li><a class="dropdown-item text_td" id="1">Všetky</a></li>  
                                    <li><a class="dropdown-item text_td" id="2">Odovzdané</a></li>
                                    <li><a class="dropdown-item text_td" id="3">Neodovzdané</a></li>
                                    <li><a class="dropdown-item text_td" id="4">Odovzdané po termíne</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-10 text-center">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="nadpis_col">Názov</th>
                                        <th scope="col" class="nadpis_col">Dátum a čas zadania</th>
                                        <th scope="col" class="nadpis_col">Dátum a čas odovzdania</th>
                                        <th scope="col" class="nadpis_col">Otvoriť</th>
                                        <th scope="col" class="nadpis_col">Stav</th>
                                        <th scope="col" class="nadpis_col">Vyhodnotenie</th>
                                      </tr>
                                    </thead>
                                    <tbody>
    
                                        <% for(const CH of challenges) { %>            
                                            <tr data-id_challenge="<%= CH.id_challenge %>" data-status = "<%= CH.isSubmitted %>" class="tr_riadok_ch">
                                                <td class="text_td"><%= CH.title_challenge %></td>
                                                <td class="text_td">
                                                    <%= new Date(CH.currentDate).toLocaleString('sk-SK', { 
                                                        day: '2-digit', // 2-digit naformatuje na 2-ciferne cislo
                                                        month: '2-digit',
                                                        year: 'numeric', // numeric zas da plný format roku napr. 2024
                                                        hour: '2-digit', 
                                                        minute: '2-digit' 
                                                    }) %>
                                                </td>
                                                <td class="text_td">
                                                    <%= new Date(CH.deadline).toLocaleString('sk-SK', { 
                                                        day: '2-digit', 
                                                        month: '2-digit', 
                                                        year: 'numeric', 
                                                        hour: '2-digit', 
                                                        minute: '2-digit' 
                                                    }) %>
                                                </td>
                                                <td>
                                                    <a href="/ziak/tyzdenne-vyzvy/<%= CH.id_challenge %>" class="odkaz_otvoriť">
                                                        <i class="fs-4 bi-box-arrow-in-up-right"></i>
                                                    </a>
                                                </td>
                                                
                                                <% if (SCH_id_challenges.includes(CH.id_challenge) && !CH.DeadlinePassed) { %>
                                                    <td style="color: rgb(37, 160, 37);" class="text_td">odovzdané</td>
                                                <% } else if (CH.DeadlinePassed && SCH_id_challenges.includes(CH.id_challenge)) { %>
                                                    <td style="color: rgb(233, 140, 0);" class="text_td">oneskorené odovzdanie</td>
                                                <% } else { %>
                                                    <td style="color: red;" class="text_td">neodovzdané</td>
                                                <% } %>
                                            
                                                <% if (SCH_hodnotenia.includes(1)) { %>
                                                    <td><i class="fs-4 bi-check2" style="color: rgb(37, 160, 37);" ></i></td>
                                                <% } else { %>
                                                    <td><i class="fs-3 bi-x" style="color: red;"></i></td>
                                                <% } %>
                                            </tr>
                                        <% } %>

                                    </tbody>
                                </table>
                            </div>
                        </div> 

                        <!--Navigačné šípky-->
                        <div class="col-md-10">
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    <button class="sipky_HM btn" id="prev-page_ch" disabled> < </button>
                                </div>
                                <div class="col-auto">
                                    <button class="sipky_HM btn" id="next-page_ch"> > </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--BODY-->

    <!--SCRIPTY-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/javascript/ziak/homeworks_challenges.js" defer></script>

</body>
</html>