<!DOCTYPE html>
<html lang="en" class="html_body_ziak">
<head>
    <%- include("../../shared/partials/head") %>
    <link rel="stylesheet" href="/css/style-ziak.css">
    <title>Týždenné výzvy</title>
</head>
<body class="html_body_ziak">
    <!--BODY-->
    <div class="container-fluid">
        <div class="row flex-nowrap">
    
            <!-- Sidebar -->
            <%- include("../../shared/partials/sidebar_ziak") %>
    
            <div class="col">

                <!--Header-->
                <%- include("../../shared/partials/header") %>
    
                <!-- Hlavný obsah -->
                <div style="padding: 20px;">
                    <div class="row justify-content-center d-flex">
                        <div class="col-md-10">
                            <h1 class="nadpis_tyzdenne_vyzvy"><%= challenge.title_challenge %></h1>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-8">
                                    <p class="p_text"><%= challenge.description_challenge %></p>
                                </div>
                            </div>
        
                           <form action="/ziak/tyzdenne-vyzvy/<%= challenge.id_challenge %>" method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-8">
                                        <textarea id="text_challenge" name="text_challenge" rows="5" class="form-control form_input" placeholder="Správa" style="margin-bottom: 30px;" required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <label for="file_path_challenge" class="margin_input_upload">PDF súbor:</label>
                                        <input type="file" id="file_path_challenge" name="file_path_challenge" accept="application/pdf" class="form-control input_upload" style="margin-bottom: 50px;" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <button type="submit" class="button_odoslat">Poslať</button>
                                    </div>
                                </div>
                            </form>
                            <div class="row justify-content-end d-flex">
                                <div class="col-md-6">
                                    <h3 style="margin-bottom: 30px; margin-top: 80px; text-align: right; margin-right: 50px;">
                                        <a href="/ziak/tyzdenne-vyzvy">
                                            <i class="fs-1 bi-box-arrow-right" style="color: red;"></i>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--BODY-->

    <!--SCRIPTY-->

</body>
</html>