<!DOCTYPE html>
<html lang="en" class="html_body_ziak">
<head>
    <%- include("../../shared/partials/head") %>
    <link rel="stylesheet" href="/css/style-ziak.css">
    <title>Profil</title>
</head>
<body class="html_body_ziak">
    
    <!--BODY-->
    <div class="container-fluid">
        <div class="row flex-nowrap">
    
            <!-- Sidebar -->
            <%- include("../../shared/partials/sidebar_ziak") %>
    
            <div class="col odsadenie_od_sidebaru">

                <!--Header-->
                <%- include("../../shared/partials/header") %>
    
                <!-- Hlavný obsah -->
                <div style="padding: 20px;">
                    <div class="row justify-content-center d-flex">
                        <div class="col-md-10 div_shadow">
                            <div class="row">
                            
                                <!-- Prvá polovica -->
                                <div class="col-md-6 p-0 position-relative">
                                    <h1 class="nadpis_profil position-absolute">Profil žiaka</h1>
                                    <div class="container container_odsadenie">
                                        <div class="margin_profil">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-6 d-flex justify-content-between align-items-center border_">
                                                    <p class="profil_udaje">Meno</p>
                                                </div>
                                            </div>
    
                                            <!--ciara-->
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-6">
                                                    <span class="span_profil"><%= locals.user.name %></span>
                                                    <div class="line"></div>
                                                </div>
                                            </div>
                                            <!--ciara-->
    
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-6 d-flex justify-content-between align-items-center border_">
                                                    <p class="profil_udaje">Priezvisko</p>
                                                </div>
                                            </div>
    
                                            <!--ciara-->
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-6">
                                                    <span class="span_profil"><%= locals.user.surname %></span>
                                                    <div class="line"></div>
                                                </div>
                                            </div>
                                            <!--ciara-->
    
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-6 d-flex justify-content-between align-items-center border_">
                                                    <p class="profil_udaje">E-mail</p>
                                                </div>
                                            </div>
    
                                            <!--ciara-->
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-6">
                                                    <span class="span_profil"><%= locals.user.email %></span>
                                                    <div class="line"></div>
                                                </div>
                                            </div>
                                            <!--ciara-->
    
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-6 d-flex justify-content-between align-items-center border_">
                                                    <p class="profil_udaje">Heslo </p>
                                                </div>
                                            </div>
    
                                            <div class="row">
                                                <div class="col-md-5 col-6">
                                                    <button type="button" class="button_heslo" id="openModalHeslo">Zmena hesla</button>
                                                </div>
                                                <div class="col-md-7 col-6 justify-content-start d-flex">
                                                    <button type="button" class="button_edit" id="openModalBtn">
                                                        <i class="bi bi-pencil-square pen_icon"></i>
                                                        Upraviť
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Druhá polovica -->
                                <div class="col-md-6 p-0">
                                    <div class="container container_odsadenie">
                                        <div class="row justify-content-center d-flex">
                                            <div class="col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6 text-center">
                                                <img src="/obrazky/student_profile.png" alt="" width="100%" class="img_profil img-fluid">
                                                <h1 class="text-center meno_priezvisko"><%= locals.user.name %> <%= locals.user.surname %></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal pre zmenu mena a priezviska -->
                    <div id="editModal" class="fixed inset-0 items-center justify-center bg-black bg-opacity-50 hidden z-50">
                        <div class="modalne_okno">
                            <div class="margin_modal">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-10">
                                        <h2 class="nadpis_modal">Zmena údajov</h2>
                                    </div>
                                </div>
                                <form action="/ziak/profil/zmena-udajov" method="POST">
                                
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-10">
                                            <input type="text" id="name" name="name" class="input_zmena form-control" placeholder="Zadaj meno">
                                        </div>
                                    </div>
                                 
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-10">
                                            <input type="text" id="surname" name="surname" class="input_zmena form-control" placeholder="Zadaj priezvisko">
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-5 text-center">
                                            <button type="submit" class="button_ulozit" id="closeAndSaveModalBtn">Uložiť</button>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <button type="button" class="button_zrusit" id="closeModalBtn">Zrušiť</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--modal pre zmenu hesla-->
                    <div id="editModalHeslo" class="fixed inset-0 items-center justify-center bg-black bg-opacity-50 hidden z-50">
                        <div class="modalne_okno">
                            <div class="margin_modal">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-10">
                                        <h2 class="nadpis_modal">Zmena hesla</h2>
                                    </div>
                                </div>
                            
                                <form action="/ziak/profil/zmena-hesla" method="POST">
                                
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-10">
                                            <input type="password" id="oldPassword" name="oldPassword" class="input_zmena form-control" placeholder="Zadaj staré heslo">
                                        </div>
                                    </div>
                                 
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-10">
                                            <input type="password" id="newPassword" name="newPassword" class="input_zmena form-control" placeholder="Zadaj nové heslo">
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-5 text-center">
                                            <button type="submit" class="button_ulozit" id="closeSaveModalHeslo">Uložiť</button>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <button type="button" class="button_zrusit" id="closeModalHeslo">Zrušiť</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--BODY-->

    <!--FOOTER-->

    <!--FOOTER-->

    <script src="/javascript/profil_ziaka.js"></script>
</body>
</html>