<!DOCTYPE html>
<html lang="en" class="html_body_ziak">
<head>
    <%- include("../../shared/partials/head") %>
    <link rel="stylesheet" href="/css/style-ziak.css">
    <title>Profil</title>
</head>
<body class="html_body_ziak">
    
    <!--BODY-->
    <div class="container-fluid">
        <div class="row flex-nowrap">
    
            <!-- Sidebar -->
            <%- include("../../shared/partials/sidebar_ziak") %>
    
            <div class="col odsadenie_od_sidebaru">

                <!--Header-->
                <%- include("../../shared/partials/header") %>
    
                <!-- Hlavný obsah -->
                <div style="padding: 20px;">
                    <div class="row justify-content-center d-flex">
                        <div class="col-md-10 div_shadow">
                            <div class="row">
                            
                                <!-- Prvá polovica -->
                                <div class="col-md-6 p-0 position-relative">
                                    <h1 class="nadpis_profil position-absolute">Profil žiaka</h1>
                                    <div class="container container_odsadenie" style="margin-bottom: 100px;">
                                        <form action="">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-6 d-flex justify-content-between align-items-center border_">
                                                    <p class="profil_udaje">Meno</p>
                                                    <button type="submit" class="pen_img">
                                                        <img src="/obrazky/pen_icon.png" alt="" width="20" class="text-center img-fluid">
                                                    </button>
                                                </div>
                                            </div>

                                            <!--ciara-->
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-6">
                                                    <span class="span_profil"><%= locals.user.name %></span>
                                                    <div class="line"></div>
                                                </div>
                                            </div>
                                            <!--ciara-->

                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-6 d-flex justify-content-between align-items-center border_">
                                                    <p class="profil_udaje">Priezvisko</p>
                                                    <button type="submit" class="pen_img">
                                                        <img src="/obrazky/pen_icon.png" alt="" width="20" class="text-center img-fluid">
                                                    </button>
                                                </div>
                                            </div>

                                            <!--ciara-->
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-6">
                                                    <span class="span_profil"><%= locals.user.surname %></span>
                                                    <div class="line"></div>
                                                </div>
                                            </div>
                                            <!--ciara-->

                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-6 d-flex justify-content-between align-items-center border_">
                                                    <p class="profil_udaje">E-mail</p>
                                                    <button type="submit" class="pen_img">
                                                        <img src="/obrazky/pen_icon.png" alt="" width="20" class="text-center img-fluid">
                                                    </button>
                                                </div>
                                            </div>

                                            <!--ciara-->
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-6">
                                                    <span class="span_profil"><%= locals.user.email %></span>
                                                    <div class="line"></div>
                                                </div>
                                            </div>
                                            <!--ciara-->

                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-6 d-flex justify-content-between align-items-center border_">
                                                    <p class="profil_udaje">Heslo </p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button type="button" class="button_heslo">Zmena hesla</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <!-- Druhá polovica -->
                                <div class="col-md-6 p-0">
                                    <div class="container container_odsadenie">
                                        <div class="row justify-content-center d-flex">
                                            <div class="col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6 text-center">
                                                <img src="/obrazky/student_profile.png" alt="" width="100%" class="img_profil img-fluid">
                                                <h1 class="text-center meno_priezvisko"><%= locals.user.name %> <%= locals.user.surname %></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--BODY-->

    <!--FOOTER-->

    <!--FOOTER-->
</body>
</html>