<!DOCTYPE html>
<html lang="en" class="html_body">
<head>
    <%- include("shared/partials/head") %>
    <title>Domovská stránka</title>
</head>
<body class="html_body">
    <!--HEADER-->
    <%- include("shared/partials/header") %>
    <!--HEADER-->

    <!--BODY-->
    <div class="container">
        <div class="row">
            <h1 class="nadpis_form" style="margin-bottom: 40px;">Admin konto</h1>
        </div>

        <% if (inputData.errorMessage) { %>
            <p style="color: red; text-align: center;"><%= inputData.errorMessage %></p>
          <% } %>

        <form action="/prihlasenie-admin" method="POST">
            <!------------------------------------------1. ROW--------------------------------------------->
            <div class="row">
                <div class="col-md-3"><!--PRÁZDNE DIV--></div>
                <div class="forms col-md-6">
                    <input type="email" class="form-control inputy" placeholder="E-mail" id="email" name="email" value="<%= inputData.email %>">
                </div>
                <div class="col-md-3"><!--PRÁZDNE DIV--></div>
            </div>

            <!------------------------------------------2. ROW--------------------------------------------->
            <div class="row">
                <div class="col-md-3"><!--PRÁZDNE DIV--></div>
                <div class="forms col-md-6">
                    <input type="password" class="form-control inputy" placeholder="Heslo" id="password" name="password" value="<%= inputData.password %>">
                </div>
                <div class="col-md-3"><!--PRÁZDNE DIV--></div>
            </div>

            <!------------------------------------------3. ROW--------------------------------------------->
            <div class="row">
                <div class="col-md-5"><!--PRÁZDNE DIV--></div>

                <div class="col-md-2 text-left">
                    <button type="submit" class="button_prihlasit" id="submit">Prihlásiť sa</button>
                </div>

                <div class="col-md-5"><!--PRÁZDNE DIV--></div>
            </div>
        </form>
    </div>
    <!--BODY-->
 
    <!--FOOTER-->

    <!--BOOSTRAP SCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>